{% load static wagtailroutablepage_tags %}

<!-- Blog's sub-nav header -->
<section class="slice slice-lg py-7 bg-cover bg-size--cover bg-blog-nav">
  <span class="mask bg-dark opacity-8"></span>
  <div class="container d-flex align-items-center" data-offset-top="#navbar-main">
    <div class="col py-5">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-7 col-lg-7 text-center">
          <h1 class="display-4 text-white mb-2"><strong>SEO</strong> Blog</h1>
          <span class="text-white text-sm">In-depth SEO analysis and advice from BrandishSEO</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Sub-nav links -->
<section class="border-bottom">
  <div class="container py-3">
    <div class="row align-items-center">
      <div class="col-lg-7 mb-4 mb-lg-0">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="#">SEO Guides</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link building</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Local SEO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Content Optimization</a>
          </li>
        </ul>
      </div>
      <!-- Search -->
      <div class="col-lg-5">
        <form class="rounded-lg border" action="{% routablepageurl page.get_site.root_page.specific 'search' %}" method="get">
          <div class="input-group input-group-merge">
            <!-- Prepend -->
            <div class="input-group-prepend">
              <span class="input-group-text border-0 pr-2">
                <i data-feather="search"></i>
              </span>
            </div>
            <!-- Input -->
            <input type="text" class="form-control border-0 px-1" name="q" aria-label="Find something" placeholder="Find something...">
            <div class="input-group-append">
              <span class="input-group-text border-0 py-0 pl-2 pr-1">
                <button type="submit" class="btn btn-sm btn-primary">Search</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>