{% load static wagtailcore_tags %}
<section class="bg-section-primary">
    <div class="container">
        <div class="row">
            <!-- Blog Intro Col One -->
            <div class="col-lg-6 order-lg-1 d-none d-lg-block">
                <p class="lead lh-190 my-4">
                    <!-- if intro.html is being included from search or tags -->
                    {% if search or tag_filter %}
                        Here are the posts matching your filter!
                        Can't find what you're looking for?
                        Feel free to reach out with suggestions.
                    {% else %}
                        {{ page.intro|richtext }}
                    {% endif %}
                </p>
            </div>

            <!-- Blog Intro Col Two -->
            <div class="col-lg-6 order-lg-2 d-none d-lg-block">
                <div class="row float-right my-4">
                    <img alt="Facebook"  src="{% static 'img/icons/brands/facebook.svg' %}" class="img-fluid ml-2" alt="Illustration" style="height: 40px;" />
                    <img alt="Twitter" src="{% static 'img/icons/brands/twitter.svg' %}" class="img-fluid ml-2" style="height: 40px;">
                    <img alt="LinkedIn" src="{% static 'img/icons/brands/linkedin.svg' %}" class="img-fluid ml-2" style="height: 40px;">
                    <img alt="RSS" src="{% static 'img/icons/brands/rss.svg' %}" class="img-fluid ml-2" style="height: 40px;">
                </div>
            </div>
        </div>
    </div>
</section>