{% extends "core/base.html" %}
{% load static crispy_forms_tags %}
{% block head %}
<!-- Meta title -->
<title>Password Reset | BrandishSEO</title>
<!-- Meta description -->
<meta name="description" content="Reset account password..." />
{% endblock head %}

{% block content %}
{% if validlink %}
    {% include "accounts/base_form.html" with heading="Reset" button_label="Submit" form=form password_reset=True %}
{% else %}
    <div class="row align-items-center min-vh-100">
        <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
            <div class="card shadow-lg border-0 mb-0">
                <div class="card-body py-5 px-sm-5">
                    <p class="text-muted mb-0">
                        Provided link is invalid. Please request another <a href="{% url 'accounts:reset_password' %}">password reset</a>.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock content %}