{% extends "core/base.html" %}
{% load static crispy_forms_tags %}
{% block head %}
<!-- Meta title -->
<title>Register an Account | BrandishSEO</title>
<!-- Meta description -->
<meta name="description" content="Register an account with BrandishSEO to participate in our community or complete your purchase." />
{% endblock head %}
{% block content %}
    <section class="slice slice-lg bg-section-secondary">
        <div class="container-fluid d-flex flex-column pt-4">
            <div class="row align-items-center min-vh-100">
                <div class="col-md-6 col-lg-5 col-xl-4 mx-auto">
                    <div class="card shadow-lg border-0 mb-0">
                        <div class="card-body py-5 px-sm-5">
                            <div>
                                <div class="mb-5 text-center">
                                    <h6 class="h3 mb-1">Update Password</h6>
                                </div>
                                <span class="clearfix"></span>
                                <form action="{% url 'accounts:update_password' %}" method="post">
                                    <div class="form-group">
                                        {% csrf_token %}
                                        <input type="hidden" name="next" value="{{ request.GET.next }}">
                                        {{ form|crispy }}
                                    </div>
                                    <div class="mt-4">
                                        <button type="submit" value="Submit" class="btn btn-block btn-primary">Submit</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}