{% extends "core/base.html" %}
{% load static crispy_forms_tags %}
{% block head %}
<!-- Meta title -->
<title>Register an Account | BrandishSEO</title>
<!-- Meta description -->
<meta name="description" content="Register an account with BrandishSEO to participate in our community or complete your purchase." />
{% endblock head %}

{% block content %}
{% include "accounts/base_form.html" with heading="Update Password" button_label="Submit" form=form action_url="accounts:update_password" %}
{% endblock content %}