{% extends "core/base.html" %}
{% load wagtailcore_tags %}

{% block head %}
  <title>{{ page.seo_title }}</title>
  <meta name="description" content="{{ page.search_description }}" />
{% endblock head %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
  {% include "blog/includes/blog_nav.html" %}
  <section class="slice pt-5 pb-7 bg-section-primary">
    <div class="container">
      {% include "blog/includes/intro.html" %}
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mt-4">{{ page.title }}</h2>
        </div>
      </div>
      <div class="row">
        {% for post in posts %}
          {% include "blog/includes/article_list.html" %}
        {% endfor %}
      </div>
      <!-- Pagination -->
      {% include "blog/includes/pagination.html" %}
    </div>
  </section>
{% endblock content %}