{% extends "core/base.html" %}
{% block head %}
<!-- Meta title -->
<title>About BrandishSEO | Company Background</title>
<!-- Meta description -->
<meta name="description" content="BrandishSEO is an SEO company based in Pittsburgh, PA, with over nine years of experience in the industry. Find out more about what BrandishSEO has to offer." />
{% endblock head %}

{% block content %}
    <section class="slice py-8 bg-dark bg-cover bg-size--cover" style="background-image: url(../../assets/img/backgrounds/img-1.jpg);">
        <!-- Mask -->
        <span class="mask bg-gradient-dark opacity-9"></span>
        <!-- Intro -->
        <div class="container d-flex align-items-center text-center text-lg-left pt-5 pb-5 pt-lg-6">
            <div class="col px-0">
                <div class="row row-grid align-items-center">
                    <div class="col-lg-8 text-center text-lg-left">
                        <!-- Heading -->
                        <h1 class="text-white mb-4">
                            About BrandishSEO
                        </h1>
                        <!-- Text -->
                        <p class="lead text-white opacity-8">
                            BrandishSEO was founded to provide affordable and effective SEO that leverages the power of technology to make implementation easy.
                            Find out more about what makes BrandishSEO unique, or feel free to reach out with any questions.
                        </p>
                        <!-- Contact button -->
                        <div class="mt-5">
                            <a href="{% url 'core:index' %}" class="btn btn-warning btn-lg btn-icon">
                                <span class="btn-inner--icon">
                                    <i data-feather="edit-3"></i>
                                </span>
                                <span class="btn-inner--text">Contact</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-bottom">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
    </section>
    <section class="slice slice-lg pb-5">
        <div class="container">
            <!-- Mission -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <span class="badge badge-primary badge-pill">Mission</span>
                    <br />
                </div>
            </div>
            <p class="h5 lh-180 mb-3">
                Hi, I'm Dorian Adams, Founder of BrandishSEO.
                I began BrandishSEO with one mission: Make Search Engine Optimization more accessible, effective, and powerful for small businesses like yours.
            </p>
            <p class="lead lh-190 my-4">
                SEO should be affordable, and the best way to make it so is by eliminating costly monthly retainers.
                So, here's a big secret. The SEO implementation process is not magic.
                The magic comes in accurately diagnosing a website and crafting a plan that will lead to organic success.
                It takes years of experience and research to pinpoint every nuanced issue afflicting organic performance and address those problems in a white-hat strategy.
                Once you have all the answers, implementation is straightforward.
                Therefore BrandishSEO was built to provide the most critical and challenging part of any organic campaign, the strategy.
                In focusing on the strategy and audit, it's possible to offer an affordable SEO service without sacrificing results.
                To be clear, I am not offering a shortcut.
                However, I am providing the most cost-effective way to boost organic performance if you can invest the time to implement it.
            </p>
            <p class="lead lh-190 my-4">
                Effectiveness is just as important as affordability.
                I understand what your business means to you and how organic traffic can influence your success.
                As an entrepreneur, I share your passion for building a successful business.
                So to ensure every SEO strategy is effective, they all come with lifetime support.
                If the initial plan doesn't deliver results for whatever reason, it will be adjusted until it does.
                Most importantly, every strategy includes an exhaustive website audit and clearly outlines every optimization opportunity.
            </p>
            <p class="lead lh-190 my-4">
                With BrandishSEO, I also strive to leverage the power of technology.
                Not to create strategies - that will always remain manual.
                Instead, I will use technology to provide the tools necessary to make the implementation and management process a breeze.
                So, when it comes to providing a more powerful service, my goal is for BrandishSEO to be a one-stop shop for everything you need.
                Currently, that means offering a free project management platform in addition to your strategy, but there's far more to come.
            </p>
            <p class="lead lh-190 my-4">
                This mission statement fuels the business and platform you see before you.
                I genuinely believe SEO can be done differently, and I can't wait for you to see everything in action.
            </p>
            <p class="lead lh-190 my-4">
               Let's succeed together.
                Whether you're a blogger, a local shop, or anything in-between, I look forward to working with you.
            </p>
            <p class="lead lh-190 my-4">
                Dorian Adams
                <br />
                Founder
                <br />
                BrandishSEO
            </p>
        </div>
    </section>
    <section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
        <!-- SVG separator -->
        <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
            <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
                <polygon points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div>
        <!-- Video -->
        <div class="container position-relative zindex-100">
            <div class="col">
                <div class="row justify-content-center">
                    <div class="col-md-10 text-center">
                        <div class="mt-4 mb-6">
                            <h2 class="h1 text-white">
                                How can BrandishSEO help?
                            </h2>
                            <h4 class="text-white mt-3">Through comprehensive SEO strategies and tech. Here's how:</h4>
                            <!-- Play button -->
                            <a href="https://www.youtube.com/watch?v=zodT9bCdIiI" data-fancybox data-toggle="tooltip" data-placement="bottom" title="Watch video in lightbox" class="btn btn-warning btn-icon hover-translate-y-n10 mt-4">
                                <span class="btn-inner--icon">
                                    <i data-feather="play"></i>
                                </span>
                                <span class="btn-inner--text">Play video</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="slice slice-lg pb-5">
        <div class="container">
            <!-- Ethics -->
            <div class="row mb-5 justify-content-center text-center">
                <div class="col-lg-8 col-md-10">
                    <span class="badge badge-primary badge-pill">Ethical Commitment</span>
                    <br />
                </div>
            </div>
            <p class="h5 lh-180 mb-3">
                Code of ethics:
            </p>
            <p class="lead lh-190 my-4">
                <ul>
                    <li>Always provide an honest SEO assessment.</li>
                    <li>Don't overstate potential improvements or be misleading in any manner.</li>
                    <li>Strictly adhere to white-hat guidelines, as set forth by Google.</li>
                    <li>In addition to current guidelines, future-proof solutions by creating strategies that establish reputable, authoritative, and influential websites.</li>
                    <li>Never offer solutions that attempt to game/cheat the algorithm, as such tactics can place the client at risk for future penalties.</li>
                    <li>Only recommend link strategies where the backlink is legitimately earned.</li>
                    <li>Notify the client if there's ever any potential conflict of interest.</li>
                    <li>Reassess and pivot if the proposed solutions are not producing the expected results.</li>
                    <li>Always remain dedicated to the client.</li>
                </ul>
            </p>
        </div>
    </section>
{% endblock content %}