{% extends "core/base.html" %}
{% load static %}
{% block head %}
<!-- Meta title -->
<title>BrandishSEO | Innovative SEO Audits Delivered</title>
<!-- Meta description -->
<meta name="description" content="BrandishSEO specializes in delivering innovative and in-depth SEO audits at an affordable price. Brandish the power of SEO today!" />
{% endblock head %}

{% block content %}
  <section class="slice py-5 vertical-gradient-intro">
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-12 col-md-5 col-lg-6 order-md-2">
          <figure class="w-100">
            <img alt="BrandishSEO splash" src="{% static 'img/svg/illustrations/seo-intro.svg' %}" class="img-fluid mw-md-120">
          </figure>
        </div>
        <div class="col-12 col-md-7 col-lg-6 order-md-1 pr-md-5">
          <h1 class="display-4 text-center text-md-left mb-3 text-white">
            Innovative SEO Strategies <strong class="text-dark">Delivered</strong>
          </h1>
          <p class="secondary-sub-heading text-center text-md-left">
            Never automated, never scripted.
            Get handmade SEO strategies designed for YOUR business, delivered straight to your inbox.
          </p>
          <div class="text-center text-md-left mt-5">
            <a href="#start" class="btn btn-primary d-inline-flex align-items-center">
              Get Started
              <i data-feather="arrow-right" class="text-white ml-2"></i>
            </a>
            <a href="#how" class="btn btn-neutral btn-icon d-none d-lg-inline-block">How it Works</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg bg-section-secondary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h2 class="h1">Ten years of experience crafting strategies that produce results.</h2>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="lh-180 mb-1 main-sub-text">
            The expertise and experience to deliver high-quality results, no matter the industry or keywords.
            Established in 2012, BrandishSEO began operation on freelance networks but has since grown into the business and platform you see today.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card border-0 mt-lg-5">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img src="{% static 'img/svg/illustrations/illustration-6.svg' %}" class="img-fluid img-center" style="height: 200px;" alt="Illustration" />
              </div>
              <h4 class="lh-130 text-dark mb-3">Your Strategy</h4>
              <p class="main-text text-dark mb-0">
                Custom-tailored solutions.
              </p>
              <ul class="main-sub-text">
                <li>Always unique and actionable</li>
                <li>Easy to understand</li>
                <li>Clear roadmap w/ prioritized tasks</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 mt-lg-5">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img src="{% static 'img/svg/illustrations/illustration-3.svg' %}" class="img-fluid img-center" style="height: 200px;" alt="Illustration" />
              </div>
              <h4 class="lh-130 text-dark mb-3">Satisfaction Guarantee</h4>
              <p class="main-text text-dark mb-0">
                Assistance does not end after delivery.
              </p>
              <ul class="main-sub-text">
                <li>Life-time support per website</li>
                <li>Implementation review</li>
                <li>Readjustments when necessary</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card border-0 mt-lg-5">
            <div class="card-body pb-5">
              <div class="pt-4 pb-5">
                <img src="{% static 'img/svg/illustrations/illustration-7.svg' %}" class="img-fluid img-center" style="height: 200px;" alt="Illustration" />
              </div>
              <h4 class="lh-130 text-dark mb-3">Effective and Affordable</h4>
              <p class="main-text text-dark mb-0">
                High-quality SEO that's accessible:
              </p>
              <ul class="main-sub-text">
                <li>No hidden costs</li>
                <li>100% white-hat</li>
                <li>Free project management platform</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-container shape-line shape-position-bottom">
      <svg width="100%" height="50px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100"  xml:space="preserve" class="">
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <section class="slice slice-lg pt-1">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h3 class="display-4 lh-130">How it all works - from start to finish.</h3>
        </div>
        <div class="col-lg-6 text-lg-right">
          <p class="main-sub-text lh-180 mb-3">
            First, fill out a short form about your website, and include any specific questions you want to be answered.
            Next, you'll receive your strategy and audit within four weeks.
            Use BrandishSEO's Project Management platform to make implementation a breeze.
          </p>
        </div>
      </div>
      <div class="row row-grid justify-content-around align-items-center" id="how">
        <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6">
          <p class="main-text lh-190 my-4">
            The SEO strategies provided by BrandishSEO can significantly boost organic traffic for businesses of all sizes.
            However, the company was founded with the primary goal of helping small businesses.
            Therefore, monthly fees and high entry costs are gone in favor of an affordable approach suitable for any entrepreneur.
            So, whether you're a blogger or launching the next tech giant, BrandishSEO shares your passion and can help fuel your organic success.
            <br />
            <br />
            After completing payment and filling out a short form, you'll receive your SEO strategy within four weeks.
            Strategies cover actionable on-site and off-site solutions, link building, keyword research, implementation instructions, answers to any specific questions you may have, and more.
            Accompanying each problem found is an explanation as to why it's hindering performance and what's required to fix it.
            Discover the why and how behind everything - all in a prioritized, easy-to-follow road map.
            <br />
            <br />
            Once your strategy is ready, use our project management platform, at no added cost, to make implementation a breeze.
            From there, you can manage tasks, invite coworkers, communicate, and exchange files.
            All-in-all, you're gaining unlimited access to an SEO expert, a custom SEO strategy, and a platform to manage it at a single, unbeatable price.
          </p>
        </div>
        <div class="col-lg-6 order-lg-1 align-items-center">
          <div class="row justify-content-center">
            <img src="{% static 'img/strategy.png' %}" class="img-fluid">
          </div>
          <div class="row justify-content-center">
            <img src="{% static 'img/platform.png' %}" class="img-fluid">
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg bg-section-dark pt-5 pt-lg-8">
    <div class="shape-container shape-line shape-position-top shape-orientation-inverse">
      <svg width="100%" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
    <div class="container position-relative zindex-100">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <div class="mt-2 mb-1">
              <h2 class="text-white">
                Struggling to Boost Your Organic Traffic?
              </h2>
              <h5 class="text-white mt-2">See how BrandishSEO can craft a personalized strategy just for you</h5>
              <div class="mb-2">
                <iframe id="vimeo-player" title="BrandishSEO Explainer Video Player" src="https://player.vimeo.com/video/1024620133?h=b24ce54ad1" width="640" height="360" frameborder="0" allow="autoplay"    allowfullscreen></iframe>
              </div>
              <button id="play-video" class="btn btn-white btn-icon d-inline-flex align-items-center">
                <span class="secondary-sub-heading text-dark">Play Video</span>
                <span class="btn-inner--icon ml-2">
                  <i data-feather="play" class="text-primary"></i>
                </span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice slice-lg">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <span class="badge badge-primary badge-pill secondary-sub-heading">Key Deliverables</span>
          <h5 class="lh-180 mt-4 mb-6">
            BrandishSEO delivers professional SEO strategies at an affordable price.
            The following is a brief synopsis of the key deliverables. Click here for a complete list of everything you receive with your purchase.
          </h5>
        </div>
      </div>
      <div class="row mx-lg-n4">
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Custom Solutions</span>
                <p class="main-sub-text mb-0">
                  Handcrafted strategy from an SEO professional with 9+ years of experience.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Link Building</span>
                <p class="main-sub-text mb-0">
                  Actionable link acquisition strategy. Find out exactly who to target and how.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Link Audit</span>
                <p class="main-sub-text mb-0">
                  Ensure current backlinks are within Google Guidelines, creating a link removal strategy if necessary.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-success text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Keyword Strategy</span>
                <p class="main-sub-text mb-0">
                  Comprehensive keyword report covering keyword priority, silo structure, and sub-topic authority.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">E - A - T</span>
                <p class="main-sub-text mb-0">
                  Strategy to enhance the Expertise, Authority, and Trust of your website. Important for YMYL* and commerce.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div class="icon icon-shape rounded-circle bg-warning text-white mr-4">
                  <i data-feather="check"></i>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Content Audit</span>
                <p class="main-sub-text mb-0">
                  Audit current content for uniqueness, optimization opportunities, and overall value.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div>
                  <div class="icon icon-shape rounded-circle bg-info text-white mr-4">
                    <i data-feather="check"></i>
                  </div>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Content Strategy</span>
                <p class="main-sub-text mb-0">
                  Content calendar with optimization strategy and keyword targets for each article.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div>
                  <div class="icon icon-shape rounded-circle bg-danger text-white mr-4">
                    <i data-feather="check"></i>
                  </div>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Technical Optimization</span>
                <p class="main-sub-text mb-0">
                  Audit of H1 title tags, meta titles, meta descriptions, internal linking, Google Analytics, and more.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 px-lg-4">
          <div class="card shadow-none">
            <div class="p-3 d-flex">
              <div>
                <div>
                  <div class="icon icon-shape rounded-circle bg-primary text-white mr-4">
                    <i data-feather="check"></i>
                  </div>
                </div>
              </div>
              <div>
                <span class="secondary-sub-heading-purple">Ongoing Support</span>
                <p class="main-sub-text mb-0">
                  Here to help whether you have questions about the strategy or implementation process.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {% include 'core/includes/packages.html' %}
  {% include 'core/includes/faq.html' %}
  <!-- Blog preview -->
  <section class="slice pt-5 pb-7 bg-section-primary">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <h2 class="mt-4">SEO Blog:</h2>
        </div>
      </div>
      <div class="row">
        {% for post in posts %}
          {% include "blog/includes/article_list.html" %}
        {% endfor %}
      </div>
    </div>
  </section>
{% endblock content %}
{% block inline_javascript %}
<script>
  document.getElementById("play-video").addEventListener("click", function(event) {
    event.preventDefault();
    const iframe = document.getElementById("vimeo-player");
    const videoUrl = "https://player.vimeo.com/video/1024620133?h=b24ce54ad1&autoplay=1";
    iframe.src = videoUrl;
  });
</script>
{% endblock inline_javascript %}