{% extends "core/base.html" %}
{% load static crispy_forms_tags %}
{% block head %}
{% block extra_css %}
  <link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
  />
  <link rel="stylesheet" href="{% static 'css/rocket.min.css' %}" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Poppins:wght@400;600&display=swap" rel="stylesheet">
{% endblock extra_css %}
<!-- Meta title -->
<title>Affordable SEO Audit and Strategies Delivered | BrandishSEO</title>
<!-- Meta description -->
<meta name="description" content="" />
{% endblock head %}
{% block content %}
  <section class="slice py-5 py-lg-7">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-12 col-md-6 col-lg-6 order-md-2 mb-5 mb-md-0 mt-5 mt-md-0">
          <div class="ratio ratio-16x9 card border-0 shadow-lg zindex-100 mb-0">
            <iframe class="container-fluid" id="vimeo-player" title="BrandishSEO Explainer Video Player" src="https://player.vimeo.com/video/1024620133?h=b24ce54ad1" frameborder="0" allow="autoplay" allowfullscreen></iframe>
          </div>
          <div class="w-75 position-absolute bottom-n5 right-n5 rotate-180">
            <img alt="Video background splash" src="{% static 'img/svg/shapes/video-bubble.svg' %}" />
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6 order-md-1 pr-md-5">
          <h1 class="h1 mb-4">
            Innovative SEO Audit and Strategy Services.
          </h1>
          <p class="main-text">
            Not just a strategy. Gain a partner dedicated to your organic success.
            Get a comprehensive white-hat SEO strategy with lifetime support, implementation instructions, and access to a project management platform to efficiently run your SEO campaign.
          </p>
          <div class="mt-5">
            <a href="#services" class="btn btn-primary secondary-sub-heading">
              Get Started
            </a>
            <button id="play-video" class="btn btn-neutral btn-icon d-none d-lg-inline-block secondary-sub-heading-purple">
              <span class="secondary-sub-heading text-dark">Play Video</span>
              <span class="btn-inner--icon">
                <i data-feather="play" class="text-primary"></i>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice halftone-overlay position-relative slice-lg bg-dark" style="z-index: 1;">
    <div class="container position-relative zindex-100">
      <div class="row mb-3 justify-content-center text-center">
        <div class="col-lg-8 col-md-10">
          <h2 class="text-white mt-4"><strong>What Makes BrandishSEO Unique</strong></h2>
          <div class="mt-2">
            <p class="main-sub-text lh-180 text-white">
              Unparalleled support and the only all-in-one platform for SEO strategy services.
            </p>
          </div>
        </div>
      </div>
      <div class="row row-grid align-items-center justify-content-between">
        <div class="col-lg-5">
          <div class="card mb-2">
            <div class="card-body p-3">
              <div class="media align-items-center">
                <img alt="Step one" src="{% static 'img/one.png' %}" class="avatar text-white rounded-circle mr-3">
                <div class="media-body">
                  <h5 class="mb-1">Audit</h5>
                  <div class="mb-0 text-sm">
                    <span class="font-weight-bold">
                      Our process begins with a comprehensive audit of your website to uncover anything holding back your organic performance.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body p-3">
              <div class="media align-items-center">
                <img alt="Step two" src="{% static 'img/two.png' %}" class="avatar text-white rounded-circle mr-3">
                <div class="media-body">
                  <h5 class="mb-1">Custom Strategy</h5>
                  <div class="mb-0 text-sm">
                    <span class="font-weight-bold">
                      A white-hat SEO strategy is tailored with your industry, website, and goals in mind.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body p-3">
              <div class="media align-items-center">
                <img alt="Step three" src="{% static 'img/three.png' %}" class="avatar text-white rounded-circle mr-3">
                <div class="media-body">
                  <h5 class="mb-1">Streamlined SEO Task Management</h5>
                  <div class="mb-0 text-sm">
                    <span class="font-weight-bold">
                      Effortlessly manage all tasks related to your SEO strategy through our intuitive project management platform.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-2">
            <div class="card-body p-3">
              <div class="media align-items-center">
                <img alt="Step four" src="{% static 'img/four.png' %}" class="avatar text-white rounded-circle mr-3">
                <div class="media-body">
                  <h5 class="mb-1">Guidance</h5>
                  <div class="mb-0 text-sm">
                    <span class="font-weight-bold">
                      Get unlimited feedback and expert advice to ensure you're confidently implementing your strategy and staying on track for success.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="text-white">SEO Audit and <strong>Strategy</strong></h3>
          <p class="mb-5 main-sub-text text-white opacity-8">
            By providing actionable solutions and expert guidance every step of the way, we deliver big-agency results at a price that's accessible to entrepreneurs like you.
          </p>
          <div class="media d-flex">
            <figure style="width:40px">
              <img alt="Support and partnership icon" src="{% static '/img/svg/icons/Partnership.svg' %}" class="img-fluid" style="height:40px">
            </figure>
            <div class="media-body ml-4">
              <h3 class="mb-1 text-white">Expert Guidance:</h3>
              <p class="main-sub-text text-white opacity-8">
                Enjoy unlimited expert guidance and advice throughout the lifetime of your website.
              </p>
            </div>
          </div>
          <div class="media d-flex">
            <figure style="width:40px">
              <img alt="Organic SEO success icon" src="{% static '/img/svg/icons/Charts_2.svg' %}" class="img-fluid" style="height:40px">
            </figure>
            <div class="media-body ml-4">
              <h3 class="mb-1 text-white">Fast Turnaround:</h3>
              <p class="main-sub-text text-white opacity-8">
                Receive your custom strategy within four weeks of purchase and propel your website to organic success.
              </p>
            </div>
          </div>
          <div class="media d-flex">
            <figure style="width:40px">
              <img alt="SEO tasks icon" src="{% static '/img/svg/icons/Task.svg' %}" class="img-fluid" style="height:40px">
            </figure>
            <div class="media-body ml-4">
              <h3 class="mb-1 text-white">SEO Project Management Platform:</h3>
              <p class="main-sub-text text-white opacity-8">
                Communicate with your dedicated SEO expert, collaborate with your team, and track tasks-all from one fully integrated platform.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-container shape-line shape-position-bottom">
      <svg 
        width="2560px" 
        height="100px" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        preserveAspectRatio="none" 
        x="0px" 
        y="0px" 
        viewBox="0 0 2560 100" 
        style="enable-background:new 0 0 2560 100" 
        xml:space="preserve" 
        class="">
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- Strategy Slides -->
  <section class="slice">
    <div class="container">
      <div class="text-center">
        <span class="badge badge-primary badge-pill secondary-sub-heading">Strategy Overview</span>
        <h2 class="mt-4 mb-4">Every section of your SEO strategy at-a-glance</h2>
      </div>
      <div class="swiper-container">
        <div class="swiper-wrapper">
          <!-- Slides-->
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Ideea.svg' %}" class="svg-icon" alt="Keyword research icon" aria-hidden="true" />
            <h3>Keyword Research</h3>
            <p class="main-text mb-0">
              Get a comprehensive keyword report with actionable insights to ensure successful implementation.
            </p>
            <ul class="main-text">
              <li>Associated search volume and difficulty metrics</li>
              <li>Silo structure and internal linking recommendations</li>
              <li>Recommended content length and sub-keywords for added relevance</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Book.svg' %}" class="svg-icon" alt="Strong content icon" />
            <h3>Content Strategy</h3>
            <p class="main-text mb-0">
              Receive editorial guidelines and a content calendar to structure and optimize your content for maximum organic performance.
            </p>
            <ul class="main-text">
              <li>Procedures to keep content fresh and relevant</li>
              <li>Heading tag usage and recommended article length</li>
              <li>Actionable promotion strategies (social media and link building)</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Influence.svg' %}" class="svg-icon" alt="Backlink icon" />
            <h3>Link Building</h3>
            <p class="main-text mb-0">
              Gain a tailored list of target websites for backlinks, complete with actionable tactics to secure them.
            </p>
            <ul class="main-text">
              <li>Step-by-step instructions for each tactic</li>
              <li>Proven methods: content marketing, guest blogging, outreach, and press</li>
              <li>Custom email templates for outreach campaigns</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Search_User.svg' %}" class="svg-icon" alt="Research icon" />
            <h3>Competitor Analysis</h3>
            <p class="main-text mb-0">
              Discover what drives your top competitor's success and gain a clear plan to surpass them.
            </p>
            <ul class="main-text">
              <li>Comprehensive analysis of your highest-ranking competitor</li>
              <li>Focused on eliminating competitor advantages for long-term success</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Code_2.svg' %}" class="svg-icon" alt="Content audit icon" />
            <h3>Content Audit</h3>
            <p class="main-text mb-0">
              Get a detailed evaluation of your existing content with actionable insights to optimize performance.
            </p>
            <ul class="main-text">
              <li>Comprehensive analysis of key content pages</li>
              <li>Technical checks, including canonicalization and duplicate content issues</li>
              <li>Evaluation for uniqueness, keyword targeting, length, and overall value</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Link.svg' %}" class="svg-icon" alt="Backlink audit icon" />
            <h3>Link Audit</h3>
            <p class="main-text mb-0">
              Receive a thorough evaluation of your website's backlink profile.
            </p>
            <ul class="main-text">
              <li>Gain clarity on your backlink health and steps to strengthen it</li>
              <li>Detect link schemes such as paid links, sponsored content, or link exchanges</li>
              <li>Recommendations for remediation, including ending schemes or adding "no-follow" attributes</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Search_User.svg' %}" class="svg-icon" alt="Research icon (E-A-T)" />
            <h3>E-A-T</h3>
            <p class="main-text mb-0">
              Establish your website as a trusted authority by meeting Google's standards for Expertise, Authority, and Trustworthiness (E-A-T), especially vital for YMYL (Your Money or Your Life) websites.
            </p>
            <ul class="main-text">
              <li>Assess how effectively your website communicates expertise and authority</li>
              <li>Recommendations to improve credibility and comply with E-A-T best practices</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Code_2.svg' %}" class="svg-icon" alt="Technical audit icon" />
            <h3>Technical</h3>
            <p class="main-text mb-0">
              Uncover and address coding-related factors that may hinder your website's organic performance. 
            </p>
            <ul class="main-text">
              <li>Analyze meta titles, meta descriptions, and heading tag implementation</li>
              <li>Assess site speed, performance, and mobile usability</li>
              <li>Prioritized recommendations for easy implementation</li>
            </ul>
          </div>
          <div class="swiper-slide">
            <img src="{% static 'img/svg/icons/Partnership.svg' %}" class="svg-icon" alt="Partnership and support icon" />
            <h3>Support</h3>
            <p class="main-text mb-0">
              Ensure your SEO strategy is implemented effectively with ongoing access to expert advice and support.
            </p>
            <ul class="main-text">
              <li>Access BrandishSEO's project management platform for streamlined communication</li>
              <li>Request feedback or ask additional questions at anytime</li>
              <li>Revisions available if the strategy does not meet your expectations</li>
            </ul>
          </div>
        </div>
        <div class="d-none d-lg-block">
          <div class="swiper-button swiper-button-next btn-dark zindex-101"></div>
          <div class="swiper-button swiper-button-prev btn-dark zindex-101"></div>
        </div>
        <div class="d-lg-none">
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>
  </section>
  <!-- SEO Packages CTA -->
  <section class="slice slice-lg d-flex align-items-center bg-cover bg-size--cover" style="background-image: url(../../assets/img/backgrounds/img-1.jpg);">
    <span class="mask bg-gradient-dark opacity-9"></span>
    <div class="container">
      <div class="col">
        <div class="row justify-content-center">
          <div class="col-md-10 text-center">
            <h2 class="text-white">
              <strong>Ready to get started?</strong>
            </h2>
            <h5 class="text-white mt-3">
              <a href="#services">Click here</a> to view our affordable SEO Audit packages designed to provide you with a comprehensive, custom strategy and ongoing support from an SEO expert — ensuring you have guidance through every step of the implementation process and access to industry insights as your website grows.
            </h5>
            <a href="#services" class="mt-5 btn btn-neutral btn-icon d-none d-lg-inline-block text-white font-weight-bold secondary-sub-heading">
              View SEO Packages
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="shape-container shape-line shape-position-bottom">
      <svg width="2560px" height="100px" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="none" x="0px" y="0px" viewBox="0 0 2560 100" style="enable-background:new 0 0 2560 100;" xml:space="preserve" class="">
        <polygon points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  <!-- Contact CTA -->
  <section class="slice slice-lg mt-4">
    <div class="container position-relative">
      <div class="card shadow-lg border-0 zindex-100">
        <div class="card-body px-4 py-4 text-center text-md-left">
          <div class="row align-items-center">
            <div class="col-md-6">
              <h3 class="mb-2">Have questions, or want more info?</h3>
              <span class="main-sub-text mb-0">
                Please, feel free to reach out with any questions you may have.
              </span>
            </div>
            <div class="col-12 col-md-6 mt-2 mt-md-0 text-md-right">
              <a href="{% url 'core:contact' %}" class="btn btn-warning btn-icon rounded-pill btn-lg">
                <span class="btn-inner--icon secondary-sub-heading">
                  <i data-feather="mail"></i>
                </span>
                <span class="btn-inner--text secondary-sub-heading">Contact</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="w-10 position-absolute bottom-n3 left-n5">
        <img alt="Bubble decoration" src="{% static 'img/svg/shapes/bubble-primary2.svg' %}" />
      </div>
      <div class="w-10 position-absolute top-n5 right-n5">
        <img alt="Bubble decoration" src="{% static 'img/svg/shapes/bubble-primary.svg' %}" />
      </div>
    </div>
  </section>
  <!-- Visual Guide -->
  <section class="slice mt-2">
    <div class="container">
      <div class="text-center">
        <span class="badge badge-primary badge-pill secondary-sub-heading">How It Works</span>
        <h2 class="mt-4 mb-4">The path to SEO success has never been more thorough and accessible.</h2>
      </div>
      <div class="row">
        <div class="col-md-5">
          <!-- background design here -->
          <img src="{% static 'img/shape1.png' %}" class="decorative-bg img-fluid" alt="decorative background">
          <img src="{% static 'img/seo-form-preview.png' %}" class="foreground-image img-fluid" alt="form preview">
        </div>
        <div class="col-md-6">
          <h3>Fill out a brief form to get started.</h3>
          <p class="main-text">
            The information provided helps us personalize the strategy for your website and business.
            Additionally, feel free to ask any questions you would like answered in your strategy.
            Our goal is to ensure that every SEO strategy is perfectly tailored to your business and 
            brand while addressing all of your pressing SEO questions.
          </p>
          <a href="#personalized" onclick="smoothScrollTo('#personalized')">
            Learn More >
          </a>
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md">
          <h3>Receive your actionable SEO strategy within four weeks.</h3>
          <p class="main-text">
            All strategies include actionable on and off-page solutions, prioritized tasks, implementation instructions, 
            and unlimited support per website. Most importantly, our strategies simplify technical SEO concepts, provide 
            actionable solutions, and explain the reasoning behind each recommendation. This approach makes them easier to 
            follow and implement than those of our competitors.
          </p>
          <a href="#strategy" onclick="smoothScrollTo('#strategy')">
            Learn More >
          </a>
        </div>
        <div class="col-md">
          <img src="{% static 'img/shape2.png' %}" class="decorative-bg img-fluid" alt="decorative background">
          <img src="{% static 'img/seo-strategy-preview.png' %}" class="foreground-image img-fluid" alt="SEO strategy preview">
        </div>
      </div>
      <div class="row mt-5">
        <div class="col-md">
          <img src="{% static 'img/shape4.png' %}" class="decorative-bg img-fluid" alt="decorative background">
          <img src="{% static 'img/seo-platform-preview.png' %}" class="foreground-image img-fluid" alt="SEO project platform preview">
        </div>
        <div class="col-md">
          <h3>Easily manage your SEO tasks.</h3>
          <p class="main-text">
            Manage your campaign with BrandishSEO's project management platform.
            Track tasks, exchange files, and communicate with coworkers or your BrandishSEO partner.
            Our platform is designed to make the implementation process a breeze. Additionally, it allows your SEO 
            expert to track progress and provide feedback when necessary.
          </p>
          <a href="#project-management" onclick="smoothScrollTo('#project-management')">
            Learn More >
          </a>
        </div>
      </div>
    </div>
  </section>
  {% include 'core/includes/packages.html' %}
  <!-- Info Section -->
  <section class="slice slice-lg position-relative bg-primary" style="z-index: 1;">
    <div class="container">
      <h2 class="text-white"
          data-toggle="collapse"
          data-target="#why">
        Why Choose BrandishSEO for Your SEO Strategy
        <i class="fas fa-chevron-right ml-2"></i>
      </h2>
      <div id="why" class="collapse scroll-offset">
        <span class="main-text text-white">
          More than a report, when choosing BrandishSEO, you're gaining unlimited access to an SEO expert with a decade of experience in the industry.
          Therefore, when your custom-tailored and actionable strategy is complete, you're not on your own! You'll receive assistance throughout the implementation process.
          You can also ask questions regarding your website or even receive advice on any forthcoming updates to Google's algorithm.
          In short, you'll have an SEO expert whose brain you can pick whenever you need. All in addition to the strategy itself, at no added cost.
        </span>
      </div>
      <hr />
      <h2 class="text-white"
          data-toggle="collapse"
          data-target="#personalized">
        Personalized Approach
        <i class="fas fa-chevron-right ml-2"></i>
      </h2>
      <div id="personalized" class="collapse scroll-offset">
        <span class="main-text text-white">
          Nothing cookie-cutter. Every SEO strategy we deliver is specifically made for your brand and business. To best ensure that your strategy is tailored to your needs, 
          please take the time to include as much detail in the form as possible. For instance, let us know about your goals, challenges, questions you would like answered, 
          and anything else you find relevant. All of this will be taken into account when crafting your actionable SEO strategy.
        </span>
      </div>
      <hr />
      <h2 class="text-white"
          data-toggle="collapse"
          data-target="#strategy">
        The Strategy
        <i class="fas fa-chevron-right ml-2"></i>
      </h2>
      <div id="strategy" class="collapse scroll-offset">
        <span class="main-text text-white">
          First and foremost, BrandishSEO's strategies are 100% white hat and made specifically for your website and business. 
          The process starts with performing a thorough website audit and then researching one of your top-ranking competitors. 
          With that, you will receive a comprehensive strategy that covers all problem areas and ensures the proposed solutions can outshine your best competitor. 
          Turnaround time is four weeks or less, depending on the number of issues.
        </span>
      </div>
      <hr />
      <h2 class="text-white"
          data-toggle="collapse"
          data-target="#project-management">
        BrandishSEO's Project Management Platform
        <i class="fas fa-chevron-right ml-2"></i>
      </h2>
      <div id="project-management" class="collapse scroll-offset">
        <span class="main-text text-white">
          All customers gain immediate access to BrandishSEO's easy-to-use project management platform. 
          From here, you can easily manage every aspect of your SEO project. Invite coworkers to your team, assign tasks, track progress, 
          and communicate efficiently from one centralized platform. To see it in action, click here. 
          Best yet, once your custom strategy is ready and uploaded, the platform automatically reads it and generates an organized list 
          of tasks within your PM platform, eliminating tedious work.
        </span>
      </div>
      <hr />
      <h2 class="text-white"
          data-toggle="collapse"
          data-target="#summary">
        Summary
        <i class="fas fa-chevron-right ml-2"></i>
      </h2>
      <div id="summary" class="collapse scroll-offset">
        <span class="main-text text-white">
          You receive a thorough strategy based on a manual, exhaustive website audit. 
          Included is a link-building plan with specific targets, an analysis of your current backlinks, a content strategy, a content audit, 
          a keyword strategy, technical recommendations, implementation instructions for every task, and more. 
          You also gain access to BrandishSEO's unique project management platform to make implementation a breeze. 
          You will receive everything necessary to propel your organic rankings while gaining a partner to help you at every step.
        </span>
      </div>
      <hr />
    </div>
    <div class="shape-container shape-line shape-position-bottom">
      <svg 
        width="2560px" 
        height="100px" 
        xmlns="http://www.w3.org/2000/svg" 
        xmlns:xlink="http://www.w3.org/1999/xlink" 
        preserveAspectRatio="none" 
        x="0px" 
        y="0px" 
        viewBox="0 0 2560 100" 
        style="enable-background:new 0 0 2560 100" 
        xml:space="preserve" 
        class="">
        <polygon points="0 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>
  {% include 'core/includes/faq.html' %}
  <section class="rocket-container container-fluid">
    <div class="row">
      <div class="col-lg-3">
        <div class="rocket">
          <div class="rocket-body">
            <div class="body"></div>
            <div class="window"></div>
            <div class="fin fin-left"></div>
            <div class="fin fin-right"></div>
          </div>
          <div class="exhaust-flame"></div>
          <div class="fumes fumes-1"></div>
          <div class="fumes fumes-2"></div>
          <div class="fumes fumes-3"></div>
        </div>
      </div>
      <div class="col-lg-6 d-flex flex-column justify-content-center text-center">
        <span class="rocket-text">Ready For Takeoff?</span>
        <span class="rocket-text-main mb-2">Need more info? No problem! Submit your phone number and one of our representatives will be in touch.</span>
        <form id="form-lead" action="#" method="POST">
          <div class="row justify-content-center">
            <div class="col-md-3 mr-4">
              <div class="form-group">
                {{ form.name }}
              </div>
            </div>
            <div class="col-md-3 mr-4">
              <div class="form-group">
                {{ form.preferred_contact }}
              </div>
            </div>
            <div class="col-md-3">
              <a href="#services" class="btn btn-neutral btn-icon text-white font-weight-bold secondary-sub-heading">
                Submit
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
{% endblock content %}
{% block extra_js %}
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
{% endblock extra_js %}
{% block inline_javascript %}
<script>
  document.getElementById("play-video").addEventListener("click", function(event) {
      event.preventDefault();
      const iframe = document.getElementById("vimeo-player");
      const videoUrl = "https://player.vimeo.com/video/1024620133?h=b24ce54ad1&autoplay=1";
      iframe.src = videoUrl;
  });

  const container = document.querySelector('.swiper-container');
  if (container) {
    new Swiper('.swiper-container', {
      autoHeight: true,
      slidesPerView: 1,
      slidesPerGroup: 1,
      spaceBetween: 50,
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        el: '.swiper-pagination',
        clickable: true
      },
      breakpoints: {
        320: {
          slidesPerView: 1,
          slidesPerGroup: 1,
        },
        1024: {
          slidesPerView: 3,
          slidesPerGroup: 3,
        }
      }
    });
  }

  function smoothScrollTo(selector) {
  const element = document.querySelector(selector);
  if (element) {
    element.scrollIntoView(false);
    
    // Show collapse content if hidden
    if (element.classList.contains('collapse')) {
      new bootstrap.Collapse(element, { toggle: true });
    }
  }
}
</script>
{% endblock inline_javascript %}