{% extends "core/base.html" %}
{% load static crispy_forms_tags %}

{% block subnav %}
  {% include 'projects/includes/subnav.html' %}
{% endblock subnav %}

{% block customer_content %}
  <section class="slice py-5 bg-section-secondary">
    <div class="container d-flex flex-column">
      <div class="row align-items-center justify-content-center min-vh-100">
        <div class="col-md-8 col-lg-5 py-6">
          <div>
            <div class="mb-5 text-center">
              <h6 class="h3 mb-1">Create your account</h6>
              <p class="text-muted mb-0">Made with love for designers &amp; developers.</p>
            </div>
            <span class="clearfix"></span>
            {% if form.progress %}
              <form action="{% url 'projects:task_update' slug object.pk %}" method="post">
            {% else %}
              <form action="{% url 'projects:task_creation' slug %}" method="post">
            {% endif %}
                {% csrf_token %}
                <div class="form-group">
                  {{ form|crispy }}
                </div>
                <div class="mt-4">
                  <button type="submit" value="Submit" class="btn btn-block btn-primary">Create my account</button>
                </div>
              </form>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock customer_content %}