<section class="slice slice-lg">
    <div class="container">
        <div class="row mb-5 justify-content-center text-center" id="FAQ">
            <div class="col-lg-8 col-md-10">
                <h2 class="mt-4">FAQ</h2>
                <div class="mt-2">
                    <p class="main-sub-text lh-180">For any additional questions, please feel free to <a href="{% url 'core:contact' %}">reach out</a>.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6">
                <div id="accordion-1" class="accordion accordion-spaced">
                    <!-- Accordion card 1 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-1-1" data-toggle="collapse" role="button" data-target="#collapse-1-1" aria-expanded="false" aria-controls="collapse-1-1">
                            <span class="sub-text-purple mb-0"><i data-feather="file" class="mr-3"></i><strong>Is it a complete strategy or
                                an audit?</strong></span>
                        </div>
                        <div id="collapse-1-1" class="collapse" aria-labelledby="heading-1-1" data-parent="#accordion-1">
                            <div class="card-body main-sub-text">
                                <span class="main-sub-text">
                                    The audit is the first step toward creating a targeted SEO strategy.
                                    An audit involves combing through your website and pinpointing any problems.
                                    The strategy encompasses the tactics and solutions necessary to address the issues found in the audit.
                                    So what you receive is a complete strategy based on an exhaustive audit.
                                </span>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 2 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-1-2" data-toggle="collapse" role="button" data-target="#collapse-1-2" aria-expanded="false" aria-controls="collapse-1-2">
                            <span class="sub-text-purple mb-0"><i data-feather="calendar" class="mr-3"></i><strong>How soon can I expect my strategy?</strong></span>
                        </div>
                        <div id="collapse-1-2" class="collapse" aria-labelledby="heading-1-2" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    All strategies are completed and e-mailed to the client within four weeks.
                                    You can also expect to receive updates along the way, so you're always aware of the current status.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 3 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-1-3" data-toggle="collapse" role="button" data-target="#collapse-1-3" aria-expanded="false" aria-controls="collapse-1-3">
                            <span class="sub-text-purple mb-0"><i data-feather="thumbs-up" class="mr-3"></i><strong>Are your strategies white hat?</strong></span>
                        </div>
                        <div id="collapse-1-3" class="collapse" aria-labelledby="heading-1-3" data-parent="#accordion-1">
                            <div class="card-body">
                                <p>
                                    Yes. All solutions offered are 100% white-hat and compliant with Google's guidelines.
                                    In addition, our strategies are designed to run no risk of any future penalty.
                                    Future-proofing is accomplished by offering solutions that do not attempt to game the algorithm.
                                    Instead, the focus is placed on building reputable, authoritative, and influential websites.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6">
                <div id="accordion-2" class="accordion accordion-spaced">
                    <!-- Accordion card 1 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-2-1" data-toggle="collapse" role="button" data-target="#collapse-2-1" aria-expanded="false" aria-controls="collapse-2-1">
                            <span class="sub-text-purple mb-0"><i data-feather="folder" class="mr-3"></i><strong>What is provided?</strong></span>
                        </div>
                        <div id="collapse-2-1" class="collapse" aria-labelledby="heading-2-1" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    You'll receive a written strategy and all supporting documents, including spreadsheets for backlink targets and keywords.
                                    The strategy developed will be based on a thorough audit of your website, keyword research, industry research, competitor research, and Google Analytics.
                                    All customers also receive free access to our project management platform to make implementation a breeze.
                                    No prior experience or knowledge of SEO is necessary to execute your strategy successfully.
                                    However, lifetime support comes with all purchases should any questions or problems arise.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 2 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-2-2" data-toggle="collapse" role="button" data-target="#collapse-2-2" aria-expanded="false" aria-controls="collapse-2-2">
                            <span class="sub-text-purple mb-0"><i data-feather="file" class="mr-3"></i><strong>Can you provide a sample?</strong></span>
                        </div>
                        <div id="collapse-2-2" class="collapse" aria-labelledby="heading-2-2" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    Yes, please click here for a sample strategy.
                                    A complete strategy will follow the same format but covers all optimization opportunities in addition to backlink, content, and keyword strategies.
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Accordion card 3 -->
                    <div class="card">
                        <div class="card-header py-4" id="heading-2-3" data-toggle="collapse" role="button" data-target="#collapse-2-3" aria-expanded="false" aria-controls="collapse-2-3">
                            <span class="sub-text-purple mb-0"><i data-feather="check" class="mr-3"></i><strong>Are white-label services offered?</strong></span>
                        </div>
                        <div id="collapse-2-3" class="collapse" aria-labelledby="heading-2-3" data-parent="#accordion-2">
                            <div class="card-body">
                                <p>
                                    Yes. If you're interested in white-label, check the "white-label" option at checkout.
                                    Doing so will ensure the strategy and all supporting documents are entirely unbranded.
                                    However, this only applies to the strategy.
                                    The project management platform cannot be offered white-label at this time.
                                    So, if you're only interested in the strategy itself, then yes, white-label is an option.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>